@page
@model GithubTestApp.Pages.IndexModel

@{
    ViewData["Title"] = "Home page";
}

<h1>Todo Listesi</h1>

<a asp-page="./Create">Yeni Todo Ekle</a>
<ul>
    @foreach (var todo in Model.TodoList)
    {
        <li>
            <strong>@todo.Title</strong> - Tamamlandı mı: @todo.IsCompleted
        </li>
    }
</ul>